{% extends "registers/layout.html"%}
{% load static %}
{% block body %}
<link rel="stylesheet" href ="{% static 'css/subinfostyle.css' %}">
<body>
    <div class = form>
    <h1>Subject info</h1>
    <p>Subject ID : {{subject.subject_id}}</p>
    <p>Subject name : {{subject.subject_name}}</p>
    <p>Semester : {{subject.semester}}</p>
    <p>Year : {{subject.year}}</p>
    <p>Current seat : {{current_seat}}/{{subject.max_seat}}</p>
    <p>Available : {{subject.available }}</p>
    
    {% if not user_registered %}
        {% if subject.available %}
            {% if check_seat %}
                <form action="{% url 'register:enroll' subject.subject_id %}" method="post">
                    {% csrf_token %}
                        <input type="submit" value="Enroll" class = "enrollbutton">
                </form>
            {% endif %}
        {% endif %}
    {% else %}
    <form action="{% url 'register:unenroll' subject.subject_id %}" method="post">
        {% csrf_token %}
            <input type="submit" value="Unenroll" class = "unenrollbutton">
    </form>
    {% endif %}


    <p1><a href="{% url 'register:index' %}">Return</a></1p>
    </div>
</body>
{% endblock %}
